/*FONTS*/
@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
    color: #000;
    font-family: 'Circular Std', sans-serif;
    padding: 0;
    margin: 0;
    overflow-y: inherit;
    user-select: none;
    text-decoration: none;
}

body {
    background-color: #f5f3f2;
}

#navTop {
    padding: 12px 24px;
    height: 39.5px;
    min-width: calc(100% - 40px);
    background-color: #fff;
    border-bottom: 1.5px solid #ebebeb;
    line-height: 40px;
}

#navTopLeft {
    float: left;
}

#darkUxLogo {
    font-size: 22px;
    font-weight: 500;
    float: left;
}

#darkUxLogo a {
    color: #4e4e4e;
}

#searchBar, #searchBar a {
    float: left;
    border-radius: 20px;
    background-color: #ebebeb;
    text-align: center;
    margin: 0px 20px;
    cursor: pointer;
    width: 430px;
    height: 40px;
}

#navTopRight {
    display: flex;
    float: right;
}

#goToApp {
    width: 90px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #222;
    margin: 0px 0px 0px 15px;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 20px;
}

#goToAppLink {
    margin: 0px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

#keyWordsNav {
    overflow-x: visible;
    width: 100vw;
    background-color: #fff;
    align-items: center;
}

#keyWordsWrapper {
    margin: 15px 0px 0px;
    margin-top: 0px;
    padding: 0px 24px;
    height: 48.5px;
    display: flex;
    min-width: fit-content;
    align-items: center;
    border-bottom: 1.5px solid #ebebeb;
}

#dividingLine {
    margin-top: -1px;
    margin-left: 10px;
    margin-right: 0px;
    border-left: 0.5px solid #dbdbdb;
    height: 30px;
}

#explore img {
    width: 20px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: -10px;
    float: left;
}

#howHeader {
    position: absolute;
    left: 50%;
    top: 35%;
    overflow: hidden;
    height: 800px;
    transform: translate(-50%, -50%);
}

#headingTitle {
    float: left;
    font-size: 20px;
    color: #525252;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#typeWriteWrapper {
    text-align: center;
    padding: 10px 30px;
    position: relative;
    top: 35%;
    width: 1220px;
    height: 70px;
}

#videoWrapper {
    position: relative;
    top: 36%;
}

#howHeader {
    z-index: -2000;
}

@media (max-width: 1125px) {
    #searchBar, #searchBar a {
        width: 273px;
    }
}

@media (max-width: 970px) {
    #searchBar, #searchBar a {
        display: none;
    }
}

@media (max-width: 645px) {
    .infoLink {
        display: none;
    }
}

.infoLink {
    font-size: 14px;
    cursor: pointer;
    margin: 0px 0px 0px 25px;
}

.categoryLink {
    font-size: 14px;
    float: left;
    margin: 0px 0px 0px 10px;
    min-width: 88px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.categoryLink:hover {
    background-color: #fafafa;
}

#requestCategory {
    width: 118px;
}

.wInlineBlock {
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin: 0px 0px 0px 10px;
    min-width: 88px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.active {
    background-color: #222;
    color: #fff;
}

.active a {
    color: #fff;
}

.typeWrite {
    font-size: 64px;
    font-weight: 800;
}

.typeWriteText {
    color: #333333;
}

.background-video-3 {
    display: flex;
    width: 800px;
    height: 430px;
    justify-content: center;
    position: absolute;
    position: fixed;
    left: 20%;
}

*::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: #f5f3f2;        /* color of the tracking area */
}
  
*::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 6px solid #f5f3f2;  /* creates padding around scroll thumb */
}
